.orange_title{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #f56923;
}

.column-1-heading{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #f56923;
}

.blue_title{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #2f99cd;
}

.orange_bodytext{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #FF4500;
}

.blue_bodytext{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #3BB4DF;
}

.infographic_bodytext{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    text-align: left;
    padding: 15px;
    color: #000000;
}

.black-emphasis {
    margin: 0;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: black;
}
