body {
    margin: 0;
    background-color: White;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: black;
}

article, aside, nav {
    display: block;
}

header, footer, section {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

nav ul {
    background: IndianRed;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 980px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul li {
    float: left;
    background: IndianRed;
    margin: 0;
    padding: 0 0;
    color: #141414;
    text-decoration: none;
}

nav ul li:hover {
    background: LightCoral;
}

nav ul li:hover a {
    color: #141414;
}

nav ul li a {
    display: block;
    padding: 10px 30px;
    color: White;
    text-decoration: none;
}

.banner {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    width: 1000px;
}

.logo_area {
    float: left;
    height: 90px;
}

.logo {
    height: 70px;
    position: relative;
    top: 13px;
    left: 10px;
}

.bottommessage {
    clear: both;
    margin: 0;
    padding: 10px 10px;
    font-size: 8pt;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: IndianRed;
    width: 980px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content {
    padding: 5px;
}

.columns-2-image {
    width: 470px;
}

.columns-3-image {
    width: 310px;
}

.columns-2 {
    float: left;
    text-align: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 470px;
}

.columns-3 {
    float: left;
    text-align: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 310px;
}

.share_images {
    width: 35px;
}

.social-media-shares {
    float: left;
    margin: 0 30px;
    padding: 0;
    width: 450px;
}

.product_box_c2 {
    float: left;
    text-align: left;
    border-radius: 10px;
    background: SteelBlue;
    margin: 5px;
    padding: 5px;
    width: 470px;
}

.product_box_c3 {
    float: left;
    text-align: left;
    border-radius: 10px;
    background: SteelBlue;
    margin: 5px;
    padding: 5px;
    width: 310px;
}